.action-group {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--p-space-200);
}
.with-1000 {
  max-width: var(--p-space-1000);
}
.Polaris-TopBar-Menu__Activator--userMenu {
  padding: var(--p-space-200);
}
.Polaris-IndexTable__TableRow {
  cursor: default;
}
